@tw:registry=https://us-central1-npm.pkg.dev/shofifi/npm-packages/
//us-central1-npm.pkg.dev/shofifi/npm-packages/:email=not.valid@email.com
//us-central1-npm.pkg.dev/shofifi/npm-packages/:always-auth=true
